body {
    width: 100%;
}

.table {
    background-color: wheat;
    border: 1px solid grey;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 100px;
}

.navbar {}

td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    &:hover {
        color: green;
    }
    &:active {
        opacity: 0.5;
    }
}

th {
    padding: 30px;
    border: 2px solid black;
    border-collapse: collapse;
}

.cs {
    font-weight: 900;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.border {
    border-bottom: 2px solid transparent;
    width: 100%;
    position: relative;
    padding: 20px;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0px;
        height: 3px;
        background-color: blue;
        transition: 0.6s linear;
    }
    &:hover {
        &::before {
            width: 100%;
        }
        cursor: pointer;
        opacity: 0.3;
    }
    &:active {
        cursor: copy;
    }
}